
body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #ffc;
    margin: 20px;
    padding: 0;
    background-image: url("d:\- middle-country\=progging\porto\images\PANO.jpg") no-repeat fixed;
}

/* This is a comment, by the way */

p {
    line-height: 21px;
}

h1 {
    color: #ffc;
    background-color: #900;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 10px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #c00;
}

h2 {
    color: white;
    background-color: #090;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: #999;
    font-size: 1.25em;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #ccc;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #900;
    font-style: italic;
}

table {
    background-color: #ccc;
}

.alternative {
    color: blue;
    font-style: italic;
}
input[type=number]:valid {
    background: green;
}
input[type=number]:invalid {
    background: red;
}
#buba {
    background-color: #ccc;
    font-weight: bold;
    padding: 20px;
    color: red;
}
.intro {
    background: #ccc;
    padding: 20px;
}
p.intro {
    color: red;
}

.bodya, .bodya2, .bodya3 {
    color: green;
}

.bodya {
    background-color: #ccc;
}

.bodya2 {
    background-color: yellow;
}

.bodya3 {
    background-color: white;
}

#top {
    background-color: #ccc;
    padding: 1em;
}

#top h1 {
    color: #ff0;
}

#top p {
    color: red;
    font-weight: bold;
}

a:active {
    color: red;
}

a:hover {
    color: purple;
    text-decoration: underline dotted;
}

input:focus {
    background-color: lightgrey;
}

.child:first-child {
    text-decoration: none;
}

.child {
    text-decoration: underline;
}

/*
p:first-child {
    font-weight: bold;
    font-size: 40px;
    font-style: italic;
}

p:last-child {
    font-weight: bold;
    font-size: 40px;
}
*/

p.border {
    border: 1px red solid;
}

p.sum {
    font: 14px/1.5 "Times New Roman", times, serif;
    padding: 30px 10px;
    border: solid;
    border-width: 1px 5px 5px 1px;
    border-color: red green blue yellow;
    margin: 10px 50px;
}

table.image {
    padding: 5em;
    margin: 10em;
    background: white url(images\PANO.jpg) no-repeat fixed;
}

body #content .alternative li {
    background-color: green;
}

ol.inline li {
    display: inline;
}

#navigation a {
    display: inline-block;
    padding: 20px 10px;
}

p.none {
    display: none;
}

p.hidden {
    visibility: hidden;
}

div.table {
    display: table;
    padding: 10px 20px;
    margin: 5px 10px;
    background-color: white;
    border: 1px solid black;
}

div.table div:last-child {
    display: table-footer-group;
}

div.table div {
    display: table-row-group;
}
div.table div:first-child {
    display: table-header-group;
}

div.table div div {
    display: table-row;
}

div.table div div p {
    display: table-cell;
}

p.first-letter {
    font-size: 12px;
}

p.first-letter:first-letter {
    font-size: 24px;
    float: left;
}

p.first-letter:first-line {
    font-weight: bold;
}

p.first-letter:before {
    content: open-quote;
}

p.first-letter:after {
    content: close-quote;
}

ul#before_content:after {
    content: url(images\PANO.jpg);
}

ul#before_content li:hover:before {
    content: "POW! ";
    background-color: red;
    color: #fc0;
}

/*
#navigation2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
}

#navigation3 {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
}
*/

#navigation2 {
    float: left;
    width: 200px;
}

#navigation2 a:hover {
    background: #39c;
    border-color: white;
}

#navigation2 ul a {
    color: white;
    text-decoration: none;
    display: block;
    background-color: #17a;
    border-left: 3px solid #28b;
    padding: 0 0.5em;
}

#navigation3 {
    float: right;
    width: 200px;
}

#navigation3 a:hover {
    background: #39c;
    border-color: white;
}

#list1 {
    list-style: none;
}

#content2 {
    margin: 0 200px;
}

#footer {
    clear: both;
    text-align: center;
}

#header1 {
    margin-top: 2em;
    display: block;
    border-radius: 20px;
}

#body1 {
    margin-top: 0;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 800px;
    clear: both;
    text-align: center;
    display: block;
    border-radius: 20px;
}

#inside1 {
    position: relative;
    left: 3em;
    top: 2em;
    font-weight: bold;
}

#content2 p {
    position: relative;
    color: black;
    border: solid 3px saddlebrown;
    border-radius: 50px/100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    /*border-radius: 0px 0px 12px 0px;*/
    padding: 10px;
    margin: 10px;
}