@import url(morestyles.css);

h1 + #that {
    color: red;
}

#that > p {
    background-color: yellow;
}

#par1:first-letter {
    font-size: 24px;
}

#that > p:before {
    content: "Main thought";
    font-size: 10px;
    padding-right: 5px;
    float: left;
}

#par1:first-child {
    text-decoration: line-through;
}

#par1:last-child {
    text-decoration: line-through;
}

div.table {
    display: table;
    padding: 10px 20px;
    margin: 5px 10px;
    background-color: white;
    border: 1px solid black;
}

div.table div:last-child {
    display: table-footer-group;
}

div.table div:first-child {
    display: table-header-group;
}

div.table div {
    display: table-row-group;
}

div.table div p {
    display: table-cell;
}

#ani  {
    font: 36px arial, helvetica, sans-serif;
    color: #000;
    background: #06c;
}

#ani p {
    height: 360px;
    padding: 40px;
}

a {
    display: block;
    margin: 0 auto;
    color: rgba(255,255,255,.5);
    text-align: center;
    text-decoration: none;
    -webkit-transition: 2.5s;
    transition: 2.5s;
}

a:hover {
    background: rgba(255,255,255,.5);
    color: white;
    border-color: white;
}

#daddy {
    background: rgba(0,0,0,.3);
}

#daddy a {
    width: 120px;
    height: 120px;
    padding: 60px;
    border-radius: 80px;
    border: 60px solid rgba(255,255,255,.5);
}

#daddy a:hover {
    border-radius: 180px;
}

p[title] {
    border-bottom: 1px dotted #ccc;
}

[href] {
    background-color: green;
}

p[title=true] {
    background-color: #2288bb;
    color: white;
}

p[title=testing] {
    -webkit-transition: border 2.5s linear 0;
    transition: border 2.5s linear 0;
    color: hsl(36,50%,50%);
    font-size: 30px;
    border-radius: 60px;
    border: 10px solid yellowgreen;
}

p[title=testing]:hover {
    color: hsl(36,100%,50%);
    border-radius: 200px;
    border: 20px solid blue;
}

p[title=testing2] {
    -webkit-transition: 2s ease-in;
    transition: 2s ease-in;
    transition-property: background-color;
    background-color: red;
    color: white;
}

p[title=testing2]:hover {
    background-color: green;
}

.note {
    display: block;
    margin-left: 250px;
    text-align: center;
    width: 300px;
    height: 300px;
    font-size: 50px;
    color: white;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

#grad1 {
    background: linear-gradient(to right,orange,red);
}

#grad1:hover {
    transform: rotate(-10deg) scale(1.5);
    -webkit-transform: rotate(-10deg) scale(1.5);
    -ms-transform: rotate(-10deg) scale(1.5);
    transform-origin: 0 0;
}

#grad2 {
    background: linear-gradient(to bottom right, hsl(46,100%,60%), blue);
}

#grad2:hover {
    transform: skew(20deg,10deg) scale(1,2) translate(50px,100px);
    -webkit-transform: skew(20deg,10deg) scale(1,2) translate(50px,100px);
    -ms-transform: skew(20deg,10deg) scale(1,2) translate(50px,100px);
    transform-origin: 0 0;
}

#grad3 {
    background: linear-gradient(20deg,hsl(26,90%,70%),darkorange);
}

#grad3:hover {
    transform: rotateX(20deg) rotateY(20deg) translateX(50px);
}

#grad4 {
    background: radial-gradient(circle closest-side at 120px 130px, indianred, firebrick);
}

#grad4:hover {
    background: radial-gradient(circle closest-side at 150px 160px, indianred, firebrick);
}

#grad5 {
    background: linear-gradient(135deg, hsl(36,100%,50%) 10%,
    hsl(72,100%,50%) 60%, white 90%);
}

#grad6 {
    background: repeating-linear-gradient(white, black 30px, white 10px);
}

#grad7 {
    background: repeating-radial-gradient(#8b2, #8b2 10px, #e90 10px, #e90 20px);
 }

@media screen and (max-width: 1000px) {
    #content {width: 100%}
}

@media screen and (max-width: 800px) {
    #nav {float: none}
}

@media screen and (max-width: 600px) {
    #content aside {
        float: none;
        display: block;
    }
}

@media screen and (orientation: landscape) {
    #nav {float: left}
}

@media screen and (orientation: portrait) {
    #nav {float: none}
}

@media screen and (min-device-height: 768px) and (max-device-width: 1024px) {
    body {background: none}
}

@media (device-pixel-ratio: 2) and (-webkit-device-pixel-ratio: 2) {
    body {background: url(twiceasbig.png)}
}

@media screen and (resolution: 326dpi) {
}

@media screen and (min-resolution: 76dpi) {
}

@media screen and (device-aspect-ratio: 3/4) {
}

@media print {
    body {
        font-size: 36px;
        font-family: times, serif;
    }
    #navigation {
        display: none;
    }
}

@font-face {
    font-family: "font of all knowledge";
    src: url(fontofallknowledge.woff);
}

p {
    font-family: "font of all knowledge", arial, sans-serif;
}
