body {
    font-size: 12pt;
    font-family: arial, helvetica, serif, "times new roman";
    color: navy;
}
h1 {
    color: #ffc;
    background-color: #009;
    font-weight: 700;
    font-style: normal;
    text-decoration: none;
}
h2 {
    font-size: 1.5em;
    background-color: #ccc;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 0;
}
a {
    text-decoration: underline;
}
a:hover {
    text-decoration: overline;
}
strong {
    font-style: italic;
    text-transform: uppercase;
}
p {
    letter-spacing: 0.1em;
    word-spacing: 0.3em;
    line-height: 1.5em;
    text-align: center;
    text-indent: 10px;
    text-decoration: blink;
}
p:hover {
    text-transform: capitalize;
}