h3 {
    visibility: visible;
}

#loot {
    visibility: visible;
}
#main_gradient {
    min-height: 1200px;
    background: -webkit-linear-gradient(lightskyblue, white);
    background: -o-linear-gradient(lightskyblue, white);
    background: -moz-linear-gradient(lightskyblue, white);
    background: linear-gradient(lightskyblue, white);
}
#main_window {
    margin: 20pt;
    padding: 10pt;
}
#event_field {
    height: 20px;
    padding-bottom: 10px;
    border-bottom: 2px #3399cc solid;
}
#action_list {
    display: inline-block;
    height: 150px;
    width: 300px;
    margin: 1em;
}
#loot_list {
    display: inline-block;
    height: 150px;
    width: 300px;
    margin: 1em;
    border-bottom: 2px #3399cc solid;
}
#result_field {
    margin-top: 30pt;
    font-style: italic;
}
#text_area {
    height: 150px;
    width: 100%;
}
#hero_hp {
    visibility: hidden;
    width: 50px;
}
#enemy_hp {
    visibility: hidden;
    width: 50px;
}
ul {
    list-style-type: none;
}
li:hover {
    background: dodgerblue;
    color: white;
}