/*

// temporarily disabled, looking for ways to improve design

#main_gradient {
    min-height: 1200px;
    background: -webkit-linear-gradient(lightskyblue, white);
    background: -o-linear-gradient(lightskyblue, white);
    background: -moz-linear-gradient(lightskyblue, white);
    background: linear-gradient(lightskyblue, white);
}
*/

#upper_menu li {
    display: inline;
}
#main_window {
    margin: 20pt;
    padding: 10pt;
}
#location_field {
    height: 100px;
}
#event_field {
    display: inline-block;
    height: 40px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px #3399cc solid;
}
#main_list {
    float: left;
    width: 50%;
    height: 200px;
    padding: 10px;
    margin: 1em;
}
#sub_list {
    float: left;
    height: 200px;
    padding: 10px;
    margin: 1em;
}
#loot {
    visibility: hidden;
}

#result_field {
    display: inline-block;
    height: 40px;
    width: 100%;
    margin-top: 30pt;
    font-style: italic;
}
#text_area {
    height: 150px;
    width: 100%;
}
#hero_hp {
    visibility: hidden;
    width: 50px;
}
#enemy_hp {
    visibility: hidden;
    width: 50px;
}
ul {
    list-style-type: none;
}
li:hover {
    background: dodgerblue;
    color: white;
}

/**/
/* popup Inventory window */
/**/

.b-popup {
    width: 100%;
    min-height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
    position: fixed;
    top: 0;
}
.b-popup .b-popup-content {
    margin: 100px auto 0 auto;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    display: table;
}
.b-popup .b-popup-content h3 {
    text-align: center;
    display: table-row;
}
#inventory_list {
    display: table-row;
}
.b-popup .b-popup-content2 {
    margin: 200px 300px 0 300px;
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    display: table;
}
#inv_menu_close {
    text-align: right;
    display: table-row;
}
#inventory_item_description {
    display: table-row;
}
#item_description_close {
    text-align: right;
    display: table-row;
}
.b-popup .b-popup-content3 {
    margin: 200px auto 0 auto;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    display: table;
}
.b-popup-content3 div {
    float: left;
}

#battle_commands {
    padding: 20px;
    height: 250px;
    text-align: left;
    vertical-align: top;
}
#battle_log {
    padding: 20px;
    height: 250px;
    overflow: auto;
    text-align: left;
    vertical-align: top;
}
#battle_graphics {
    padding: 20px;
}
#current_hero_name {
    font-size: 1.5em;
    font-weight: bold;
}
.hero_miniature {
    height: 20px;
    width: 20px;
    background: blue;
    opacity: 0.2;
    position: relative;
}
.hero_miniature_current {
    height: 20px;
    width: 20px;
    background: blue;
    opacity: 1.0;
    position: relative;
}
.enemy_miniature {
    height: 20px;
    width: 20px;
    background: red;
    opacity: 0.2;
    position: relative;
}
.enemy_miniature_adjacent {
    height: 20px;
    width: 20px;
    background: red;
    opacity: 1.0;
    position: relative;
}
.enemy_miniature_adjacent:hover {
    background: #800000;
}

#battle_field {
    display: table;
    position: relative;
    border: darkgrey 1px solid;
    height: 240px;
    width: 480px;
}
.movement_cell {
    height: 20px;
    width: 20px;
    background: green;
}
.temp_cell {
    height: 20px;
    width: 20px;
    background: lightyellow;
}
#movement_counter {
    display: inline-block;
}
.b-popup .b-popup-content4 {
    margin: 200px auto 0 auto;
    width: 500px;
    height: 500px;
    padding: 20px;
    background-color: #c5c5c5;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    display: table;
}
#loot_commands {
    padding: 20px;
    text-align: left;
    vertical-align: top;
}
#loot_items_list {
    padding: 20px;
    text-align: left;
    vertical-align: top;
}