<!DOCTYPE html>
<html ng-app="store">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <!-- stylesheets -->
    <!--    <link rel="stylesheet" type="text/css" href="#">

    <!-- vendor -->
    <script src="../project.angular.001/vendor/angular.min.js"></script>
    <script src="../project.angular.001/vendor/jquery-1.11.2.js"></script>
    <script src="../project.angular.001/vendor/bootstrap.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- local script files -->
    <script src="../project.angular.001/js/main.js" defer="defer"></script>
</head>
<body ng-controller="StoreController as store">
    <div class="jumbotron">
        <h1>EXECUTIVE DECISIONS Inc.</h1>
        <h2>Make your decision today:</h2>
    </div>
    <div class="list-group">
        <div class="list-group-item" ng-repeat="product in store.products | limitTo:3">
            <div ng-hide="product.soldOut">
                <h4>{{product.name}}</h4>
                <em class="pull-right">{{product.price | currency}}</em>
                <img ng-src="{{product.images[0].full}}"/>
                <section>
                    <ul class="nav nav-pills">
                        <li><a href="#" ng-click="tab = 1">Description</a></li>
                        <li><a href="#" ng-click="tab = 2">Specifications</a></li>
                        <li><a href="#" ng-click="tab = 3">Reviews</a></li>
                    </ul>
                </section>
                <div class="panel" ng-show="tab === 1">
                    <h4>Description</h4>
                    <p>{{product.description}}</p>
                </div>
                <div class="panel" ng-show="tab === 2">
                    <h4>Specifications</h4>
                    <p>None yet</p>
                </div>
                <div class="panel" ng-show="tab === 3">
                    <h4>Reviews</h4>
                    <p>None yet</p>
                </div>
            </div>
        </div>
    </div>
    <ul>
        <li class="decision">
            <h3>Our missions</h3>
            <div>
                <button>Get quote!</button>
            </div>
        </li>
        <li class="decision">
            <h3>South Africa</h3>
            <div>
                <button>Get quote!</button>
            </div>
        </li>
        <li class="decision">
            <h3>Tobago</h3>
            <div>
                <button>Get quote!</button>
            </div>
        </li>
    </ul>
</body>
</html>