<!DOCTYPE html>
    <html ng-app="readingList">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>AngularJS Reading List</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="app.css">
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="app.js"></script>
    </head>

    <body>

        <h1>Angular Reading List of Awesome</h1>

        <div class="row" ng-controller="ReadingListController as readingListCtrl">

            <button class="btn btn-default" ng-click="reviewFormCtrl.showForm = !reviewFormCtrl.showForm">
                {{ reviewFormCtrl.showForm ? "Cancel" : "Create a Review" }}
            </button>
            <hr />
            <review-form books="readingListCtrl.books" genres="readingListCtrl.genres" ng-show="reviewFormCtrl.showForm"></review-form>
            <hr />

            <ul class="list-unstyled col-sm-8">
                <li class="book row" ng-repeat="book in readingListCtrl.books">
                    <book-cover></book-cover>
                    <div class="col-sm-9">
                        <h3><a href="http://www.amazon.com/gp/product/{{ book.isbn }}"
                                >{{ book.title }}</a></h3>

                        <cite class="text-muted">Written by {{ book.author}}</cite>

                        <p>{{ book.review }}</p>

                        <book-genres genres="book.genres"></book-genres>

                    </div>
                </li>
            </ul>
        </div>

    </body>

</html>
