<!DOCTYPE html>
<html ng-app="dreams">
<head lang="en">
    <meta charset="UTF-8">
    <!-- global script files -->
    <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../gamebook_angular/js/app.js"></script>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <title></title>
</head>
<body class="list-group" ng-controller="DreamsController as dreams">
    <p>
        {{"Choose your mercenary today!"}}
    </p>
        <div class="list-group-item" ng-repeat="mercenary in dreams.mercenaries">
            <h3>
                {{mercenary.name}}
                <em class="pull-right">{{mercenary.price | currency}}</em>
            </h3>
            <div class="gallery" ng-show="{{mercenary.images.length}}">
                <div class="img-wrap">
                    <img ng-src="{{mercenary.images[0]}}" />
                </div>
                <ul class="img-thumbnails clearfix">
                    <li class="small-image pull-left thumbnail" ng-repeat="image in mercenary.images">
                        <img ng-src="{{image}}" />
                    </li>
                </ul>
            </div>
            <p>{{mercenary.description}}</p>
            <button ng-show="mercenary.canPurchase">Add to Cart</button>
        </div>
</body>
</html>