<!DOCTYPE html>
<html ng-app="dreams">
<head lang="en">
    <meta charset="UTF-8">
    <!-- global script files -->
    <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../gamebook_angular/js/app.js"></script>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <title></title>
</head>
<body class="list-group" ng-controller="DreamsController as dreams">
    <p>
        {{"Choose your mercenary today!"}}
    </p>
        <div class="list-group-item" ng-repeat="mercenary in dreams.mercenaries">
            <h3>
                {{mercenary.name}}
                <em class="pull-right">{{mercenary.price | currency}}</em>
            </h3>
            <div ng-show="mercenary.images.length">
                <div ng-show="mercenary.images">
                    <img class="img img-circle img-thumbnail center-block" ng-src="{{mercenary.images[0]}}" />
                    <ul class="clearfix">
                        <li class="small-image pull-left thumbnail" ng-repeat="image in mercenary.images">
                            <img ng-src="{{image}}" />
                        </li>
                    </ul>
                </div>
            </div>
            <section ng-controller="TabController as tab">
                <ul class="nav nav-pills">
                    <li ng-class="{active:tab.isSelected(1)}">
                        <a href="#" ng-click="tab.selectTab(1)">Description</a>
                    </li>
                    <li ng-class="{active:tab.isSelected(2)}">
                        <a href="#" ng-click="tab.selectTab(2)">Specifications</a>
                    </li>
                    <li ng-class="{active:tab.isSelected(3)}">
                        <a href="#" ng-click="tab.selectTab(3)">Reviews</a>
                    </li>
                </ul>
            </section>
            <div class="panel" ng-show="tab.isSelected(1)">
                <h4>Description</h4>
                <blockquote>{{mercenary.description}}</blockquote>
            </div>
            <div class="panel" ng-show="tab.isSelected(2)">
                <h4>Specifications</h4>
                <blockquote>{{mercenary.specifications}}</blockquote>
            </div>
            <div class="panel" ng-show="tab.isSelected(3)">
                <h4>Reviews</h4>
                <blockquote>{{mercenary.reviews}}</blockquote>
            </div>
            <button ng-show="mercenary.canPurchase">Add to Cart</button>
        </div>
</body>
</html>