<!DOCTYPE html>
<html ng-app="dreams">
<head lang="en">
    <meta charset="UTF-8">
    <!-- global script files -->
    <script type="text/javascript" src="../js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../gamebook_angular/js/app.js"></script>
    <!-- stylesheets -->
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <title></title>
</head>
<body ng-controller="DreamsController as dreams">
<div class="list-group">
    <h1 class="text-center">MERCENARY INC.</h1>
    <p class="text-center">
        {{"- Choose your mercenary today! -"}}
    </p>
        <div class="list-group-item" ng-repeat="mercenary in dreams.mercenaries">
            <h3>
                {{mercenary.name}}
                <em class="pull-right">{{mercenary.price | currency}}</em>
            </h3>
            <div ng-show="mercenary.images.length" ng-controller="GalleryController as gallery">
                <div class="img-wrap">
                    <img ng-src="{{mercenary.images[gallery.current]}}" />
                </div>
                <ul class="img-thumbnails clearfix">
                    <li class="small-image pull-left thumbnail" ng-repeat="image in mercenary.images">
                        <img ng-src="{{image}}" />
                    </li>
                </ul>
            </div>
            <section ng-controller="TabController as tab">
                <ul class="nav nav-pills">
                    <li ng-class="{ active: tab.isSet(1) }">
                        <a href="" ng-click="tab.setTab(1)">Description</a>
                    </li>
                    <li ng-class="{ active: tab.isSet(2) }">
                        <a href="" ng-click="tab.setTab(2)">Specifications</a>
                    </li>
                    <li ng-class="{ active: tab.isSet(3) }">
                        <a href="" ng-click="tab.setTab(3)">Reviews</a>
                    </li>
                </ul>
                <div ng-show="tab.isSet(1)">
                    <h4>Description</h4>
                    <blockquote>{{mercenary.description}}</blockquote>
                </div>
                <div ng-show="tab.isSet(2)">
                    <h4>Specifications</h4>
                    <blockquote>{{mercenary.specifications}}</blockquote>
                </div>
                <div ng-show="tab.isSet(3)">
                    <h4>Reviews</h4>
                    <li ng-repeat="review in mercenary.reviews">
                        <blockquote>
                            <strong>{{review.stars}} Stars</strong>
                            {{review.body}}
                            <cite class="clearfix">-- {{review.author}}</cite>
                        </blockquote>
                    </li>
                    <!--  Review Form -->
                    <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewCtrl.addReview(mercenary)">
                        <!--  Live Preview -->
                        <blockquote>
                            <strong>{{reviewCtrl.review.stars}} Stars</strong>
                            {{reviewCtrl.review.body}}
                            <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
                        </blockquote>

                        <!--  Review Form -->
                        <h4>Submit a Review</h4>
                        <fieldset class="form-group">
                            <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" ng-model="reviewCtrl.review.stars">
                                <option value="">Rate the Product</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group">
                            <textarea class="form-control" placeholder="Write a short review of the product..." title="Review" ng-model="reviewCtrl.review.body"></textarea>
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="email" class="form-control" placeholder="jimmyDean@example.org" title="Email" ng-model="reviewCtrl.review.author" />
                        </fieldset>
                        <fieldset class="form-group">
                            <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                        </fieldset>
                    </form>
                </div>
            </section>
            <button ng-show="mercenary.canPurchase">Add to Cart</button>
        </div>
</div>
</body>
</html>