<section>
    <ul class="nav nav-pills">
        <li ng-class="{ active: tab.isSet(1) }">
            <a href="" ng-click="tab.setTab(1)">Description</a>
        </li>
        <li ng-class="{ active: tab.isSet(2) }">
            <a href="" ng-click="tab.setTab(2)">Specifications</a>
        </li>
        <li ng-class="{ active: tab.isSet(3) }">
            <a href="" ng-click="tab.setTab(3)">Reviews</a>
        </li>
    </ul>
    <div ng-show="tab.isSet(1)">
        <h4>Description</h4>
        <blockquote>{{mercenary.description}}</blockquote>
    </div>
    <div ng-show="tab.isSet(2)" merc-specs></div>
    <div ng-show="tab.isSet(3)">
        <h4>Reviews</h4>
        <li ng-repeat="review in mercenary.reviews">
            <blockquote>
                <strong>{{review.stars}} Stars</strong>
                {{review.body}}
                <cite class="clearfix">-- {{review.author}} on {{review.createdOn | date}}</cite>
            </blockquote>
        </li>
        <!--  Review Form -->
        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
              ng-submit="reviewForm.$valid && reviewCtrl.addReview(mercenary)" novalidate>
            <!--  Live Preview -->
            <blockquote>
                <strong>{{reviewCtrl.review.stars}} Stars</strong>
                {{reviewCtrl.review.body}}
                <cite class="clearfix">—{{reviewCtrl.review.author}}</cite>
            </blockquote>

            <!--  Review Form -->
            <h4>Submit a Review</h4>
            <fieldset class="form-group">
                <select class="form-control" ng-options="stars for stars in [5,4,3,2,1]"
                        title="Stars" ng-model="reviewCtrl.review.stars" required>
                    <option value="">Rate the Product</option>
                </select>
            </fieldset>
            <fieldset class="form-group">
                            <textarea class="form-control" placeholder="Write a short review of the product..."
                                      title="Review" ng-model="reviewCtrl.review.body" required></textarea>
            </fieldset>
            <fieldset class="form-group">
                <input type="email" class="form-control" placeholder="jimmyDean@example.org"
                       title="Email" ng-model="reviewCtrl.review.author" required />
            </fieldset>
            <fieldset class="form-group">
                <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
            </fieldset>
        </form>
    </div>
</section>
